.unit-button
    width: 100px
    height: 30px
    margin: 0 1.5rem 1.5rem 0
    background: #f3eff5
    color: #545353
    border: 1px solid #545353
    font-weight: bold

.w-select-cont
    display: flex
    flex-wrap: wrap
    width: 400px
    background: #0069ed
    &__group
        margin: 1rem
        &--label
            margin: 0 .5rem
            color: white
            



